body {
  margin: 0px;
}

.main-background {
  background: url("https://i.ibb.co/C76spxM/sapphire-dark.png");
  height: 100vh;
  min-height: 600px;
  background-size: cover;
  /*overflow: hidden;*/
  position: relative;
  z-index: 0;
  background-position: center;
  margin: 0px;
  background-repeat: no-repeat;
  text-align: center;
}

img {
  height: 150px;
  width: auto;
}

.main-img-left-top {
  left: 4px;
  top: 4px;
  position: absolute;
}

.main-img-left-bottom {
  left: 4px;
  bottom: 4px;
  position: absolute;
}

.main-img-right-top {
  right: 4px;
  top: 4px;
  position: absolute;
}

.main-img-right-bottom {
  right: 4px;
  bottom: 4px;
  position: absolute;
}

.main-text {
  font-family: Raleway, sans-serif;
  color: #FFF;
  font-weight: bold;
}

.main-tittle {
  padding-top: 32vh;
  font-size: 110px;
  line-height: 0.45em;
  margin: 0px;
}

.main-sub-tittle {
  font-size: 36px;
}

.main-introduction {
  padding-top: 5vh;
  font-size: 22px;
}

.main-introduction-numero {
  font-family: Arial;
  font-size: 22px;
}

.main-social-icon {
  display: inline-block;
  width: 38px;
  height: 38px;
  font-size: 45px;
  margin: 90px 20px 0px 20px;
}